.timeline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 0, 0);
    height: 85vh;
}

/*.compose-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(0, 0, 0);
    height: 85vh;
}*/

.latent-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

hr {
    border-top: solid #ccc;
    /*display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    /*margin: 1em 0;
    padding: 0;*/
}

.hide {
    display: none;
}

.drag-over {
    border: dashed 3px red;
}

.click-on-box {
    border: solid 3px black;
}

#resize-box {
    background-color: red;
    width: 60%;
    height: '10vh';
    resize: vertical;
    overflow-x: auto;
}

.clickable-element:hover {
    cursor: pointer;
}

.hover:hover {
    cursor: pointer;
}

.overlay {
	background-color: #ff0000;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
    opacity: 0.5;
}